/**
 * All APP specific CSS goes in here.
 *
 * @Version:
 * @Author:
 * @URL:
 */




/**
 * We set base colors here as they are
 * application specific
 */
 body
 {
 	background: #f9f9f9;
 }

 *
 {
 	color: #333333;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6
 {
 	color: #555555;
 }

 a
 {
 	color: #ff9900;
 }

a:hover
{
	color: #666666;
}

a:active
{
	color: #000000;
}



/**
 * Logo
 */
#site_logo
{
	margin-top: 5px;
	margin-right: 22px;
	float: right;
}

#site_logo h3
{
	font-size: 16px;
	font-weight: 200;
	text-transform: uppercase;
}

#site_logo h3 a
{
	color: #888888;
	text-shadow: 0 -1px 0 #000000;
  	-webkit-transition: 250ms linear all; 
	-moz-transition: 250ms linear all; 
	transition: 250ms linear all; 
}

#site_logo a:hover
{
	color: #ffffff;
}
/* @end Logo */



/**
 * Topbars
 */
.primary_bar
{
	width: 100%;
	height: 15px;
	padding-bottom: 25px;
	background: #222222;
	border-bottom: 1px solid #000000;
}

.secondary_bar
{
	width: 100%;
	height: 55px;
	background: #222222;
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	border-bottom: 1px solid #000000;
}
/* @end Topbars */



/**
 * Welcome
 */
#welcome
{
	margin-top: 10px;
	float: left;
	text-shadow: 0 -1px 0 #000000;
}

#welcome img
{
	border: 1px solid #000000;
	width: 25px;
	height: 25px;
	margin-top: -3px;
	margin-right: 10px;
	float: left;
	border-radius: 3px;
}

#welcome a
{
	font-size: 13px;
	color: #888888;
}

#welcome a:hover
{
	color: #ff9900;
}

#welcome i
{
	filter: alpha(opacity=40);
  	-khtml-opacity: 0.4;
  	-moz-opacity: 0.4;
  	opacity: 0.4;
  	margin-top: -1px;
}
/* @end Welcome */



/**
 * User nav
 */
nav#usernav
{
	margin: 10px 10px 0 0;
	float: right;
}

nav#usernav ul li
{
	margin-right: 15px;
	display: inline;
	-webkit-transition: 250ms linear all; 
	-moz-transition: 250ms linear all; 
	transition: 250ms linear all; 
	filter: alpha(opacity=50);
  	-khtml-opacity: 0.5;
  	-moz-opacity: 0.5;
  	opacity: 0.5;
}

nav#usernav ul li i
{
	margin-top: 2px;
}

nav#usernav li:hover
{
	filter: alpha(opacity=100);
  	-khtml-opacity: 1;
  	-moz-opacity: 1;
  	opacity: 1;
}

nav#usernav ul li a
{
	color: #ffffff;
	font-size: 12px;
	font-family: "Arial", sans-serif;
	text-shadow: 0 -1px 0 #000000;
}

nav#usernav ul li.active a
{
	color: #222222;
}
/* @end User nav */



/**
 * Navigation
 */
nav#primary ul
{
	float: left;
	margin: 16px 0 0 0px;
}

nav#primary ul li
{
	float: left;
}

nav#primary ul li a
{
	color: #777777;
	font-size: 13px;
	font-weight: 600;
	text-shadow: 0 -1px #000000;
	padding: 20px 20px 21px 20px;
	border-right: 1px solid #222222;
	border-left: 1px solid #333333;
	border-top: 1px solid #333333;
	-webkit-transition: 250ms linear all; 
	-moz-transition: 250ms linear all; 
	transition: 250ms linear all; 
}

nav#primary ul li#home a
{
	border-left: none;
}

nav#primary ul li#help-link a
{
	border-right: none;
}

nav#primary ul li a:hover
{
	color: #ff9900;
	border-top: 1px solid #ff9900;
	box-shadow: inset 0 4px 8px #000000;
}

nav#primary ul li a.current
{
	border-top: 1px solid #ff9900;
	box-shadow: inset 0 4px 8px #000000;
}

nav#primary ul li a.current:hover
{
	color: #ff9900;
}

nav#primary li#home a img
{
	margin-top: -2px;
}

nav#primary a.menu 
{
	position: relative;
}

nav#primary a.menu:after
{
	width: 0px;
	height: 0px;
	display: inline-block;
	content: "&darr;";
	text-indent: -9999px;
	vertical-align: top;
	margin-top: 11px;
	margin-left: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #666666;
}

nav#primary a.menu:hover:after
{
	width: 0px;
	height: 0px;
	display: inline-block;
	content: "&darr;";
	text-indent: -9999px;
	vertical-align: top;
	margin-top: 11px;
	margin-left: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #ff9900;
}

/**
 * Second level dropdown 
 */
nav#primary ul li ul 
{ 
	display: none; 
	position: absolute; 
	margin: 0 0 0 1px; 
	padding: 18px 0 0 0; 
	z-index: 999; 
}
	
nav#primary ul li ul li
{ 
	background: #ffffff;
	padding: 12px 20px; 
	position: relative; 
	z-index: 999;  
	display: block;
	float: none;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
	
nav#primary ul li ul li a 
{ 
	color: #888888;
	background: none;
	text-shadow: none; 
	border: none;
	padding: 0;  
	position: relative; 
	z-index: 102; 
	display: block;
	float: none;
}

nav#primary ul li ul li a:hover 
{ 
	color: #ff9900;
	border-top: none;
	box-shadow: none;
}

nav#primary ul li ul li a.current
{
	color: #111111;
	border-top: none;
	box-shadow: none;
}

nav#primary ul li ul li a.current:hover
{
	color: #ff9900;
}
/* @end Navigation */



/**
 * Subbar
 */
.subbar
{
	width: 100%;
	background: #eeeeee;
	background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
	background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
	background-image: linear-gradient(top, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #cccccc;
	float: left;
}

.subbar h2
{
	margin-top: 9px;
	margin-bottom: 12px;
	font-size: 20px;
	float: left;
}

.subbar h2,
.subbar h2 a
{
	color: #444444;
	font-weight: 400;
}

.subbar h2 a:hover
{
	color: #ff9900;
}

.subbar small
{
	margin-top: 18px;
	float: left;
	color: #888888;
	font-weight: 600;
	font-size: 12px;
}
/* @end Subbar */



/**
 * Shortcuts
 */
nav#shortcuts
{
	margin-top: 10px;
	margin-right: 17px;
	float: right;
}

nav#shortcuts ul li a
{
	background: #ff9900 url(../img/button.png) repeat-x; 
	display: inline-block; 
	padding: 4px 7px 3px 7px;
	color: #ffffff; 
	font-weight: bold; 
	font-size: 13px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

nav#shortcuts ul li a:hover
{
	background: #ff7900;
}
/* @end Shortcuts */



/**
 * Sections bar
 */
.sections_bar
{
	width: 100%;
	background: #eeeeee;
	background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
	background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
	background-image: linear-gradient(top, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #cccccc;
	float: left;
	padding: 5px 0 8px 0;
}

.sections_bar ul
{
	list-style: none;
	margin: 0;
}

.sections_bar ul li
{
	padding-top: 3px;
	margin-right: 15px;
	float: left;
}

.sections_bar ul li a
{
	font-size: 13px;
	color: #888888;
}

.sections_bar ul li a:hover
{
	color: #ff9900;
}

.sections_bar img
{
	display: none;
}
/* @end Sections bar */



/**
 * Content
 */
#content-body
{
	margin-top: 25px;
	float: left;
}
/* @end Content */



/**
 * Content boxes
 */
 .title
 {
	background: #eeeeee;
	background-image: -moz-linear-gradient(top, #f9f9f9, #eeeeee);
	background-image: -ms-linear-gradient(top, #f9f9f9, #eeeeee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#eeeeee));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #eeeeee);
	background-image: -o-linear-gradient(top, #f9f9f9, #eeeeee);
	background-image: linear-gradient(top, #f9f9f9, #eeeeee);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eeeeee', GradientType=0);
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 2px 15px 6px 15px;
	position: relative;
	z-index: 5;
}

.title h4
{
	font-size: 14px;
	color: #333333;
	text-shadow: 0 1px 0 #ffffff;
	font-weight: 400;
	text-transform: uppercase;
}

.title h4 i
{
	margin-top: 1px;
	filter: alpha(opacity=80);
  	-khtml-opacity: 0.8;
  	-moz-opacity: 0.8;
  	opacity: 0.8;
}

.item
{
	background: #ffffff;
	padding: 25px;
	margin-top: -3px;
	margin-bottom: 25px;
	position: relative;
	z-index: 10;
	border: 1px solid #dddddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 0 1px 1px #eeeeee;
}

.item p
{
	font-size: 14px;
	color: #333333;
}
/* @end Content boxes */



/**
 * Dashboard
 */

 /* analytics */
#analyticsWrapper,
#analytics {
	width: 565px;
	height: 185px;
	float: left;
}

#analytics .tickLabel
{
	color: #aaaaaa;
	font-size: 11px;
}

#analytics .legend 
{
	display: none;
}

#tooltip
{
	z-index: 99999;
	font-size: 11px;
	text-shadow: none;
}

/* rss feed */
 #feed h5
 {
 	font-weight: 400;
 	margin-bottom: 5px;
 }

 #feed li
{
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 25px;
}

 #feed li:last-child
{
	border-bottom: none;
	margin-bottom: 0;
}

.date 
{
	margin: 0 15px 0 0;
	float: left;
}

.month 
{
	background: #ff9900;
	font-size: 14px;
	display: block;
	width: 35px;
  	border-top-left-radius: 2px;
  	border-top-right-radius: 2px;
	padding: 5px 10px 3px 10px;
	text-align: center;
	color: #ffffff;
	border-bottom: 2px solid #e5e5e5;
}

.day 
{
	background: #eeeeee;
	display: block;
	width: 35px;
  	border-bottom-left-radius: 2px;
  	border-bottom-right-radius: 2px;
	padding: 3px 10px;
	text-align: center;
	color: #aaaaaa;
	font-size: 24px;
}

/* quick links */
#quick_links ul li
{
	display: inline;
}

#quick_links ul li a
{
	font-size: 12px;
	padding-top: 7px;
}

/* recent comments */
#recent_comments ul li
{
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 25px;
}

#recent_comments ul li img
{
	background: #ffffff;
	padding: 4px;
	margin-right: 15px;
	border: 1px solid #dddddd;
	width: 45px;
	height: 45px;
	float: left;
	box-shadow: 0 1px 1px #dddddd;
}
/* @end Dashboard */



/**
 * Footer
 */
footer
{	
	margin-top: 35px!important;
	text-align: center;
	float: left;
	width: 100%;
	background: #222222;
	border-top: 1px solid #000000;
}
/* @end Header */



.ui-tabs-nav {width: 100%; float: left;}
.ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 7px 0 0 5px; padding: 0; }
.ui-tabs-panel { display: block; border-width: 0; background: none; float: left; }
.ui-tabs-hide { display: none !important; }
.ui-autocomplete { padding: 1px; width: 300px; height: 200px; position: absolute; background-color: #F3F3F3; border: 1px solid #EEE; height: auto; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.ui-autocomplete li { padding: 5px; list-style: none; font-size: 16px; background-color: white; cursor: pointer; line-height: 20px; border-bottom: 1px solid #EEE; }
.ui-autocomplete li:last-child { border: none; }
.ui-autocomplete li:hover { background: #ffffff; /* Old browsers */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(51%, #f9f9f9), color-stop(100%, #ffffff)); background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); background: linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); }
.ui-autocomplete li a { width: 290px; display: block; }


/**
 * Responsive @media queries for responsive design.
 * Ensure this is included after all your other CSS.
 * 
 * The first section below is the basic mobile first
 * CSS as the above CSS is just styling.
 *
 * Obviously media queries are specific to each 
 * application and these may need altering for your
 * own project.
 */
h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.5em;
}

h3
{
	font-size: 1.2em;
}

h4
{
	font-size: 1.25em;
}

h5
{
	font-size: 1em;
}

h6
{
	font-size: 0.875em;
}

p,
li,
dl dd
{
	font-size: 14px;
}

code,
footer p
{
	font-size: 12px;
}

nav#primary .selector
{
	display: inherit;
}

nav#primary ul 
{ 
	display: none; 
}

#logo
	{
		width: 50px;
	}

#logo > small
{
	display: none;
}

.wrapper
{
	width: 380px;
}

.one_full,
.one_half,
.one_third,
.two_third,
.one_quarter
{
	margin-right: 0px; 
	width: 280px;
}

/** 
 * iPhone landscape 
 */
@media (min-width: 480px) {
	h1
	{
		font-size: 2em;
	}

	h2
	{
		font-size: 1.5em;
	}

	h3
	{
		font-size: 1.2em;
	}

	h4
	{
		font-size: 1.25em;
	}

	h5
	{
		font-size: 1em;
	}

	h6
	{
		font-size: 0.875em;
	}

	p,
	li,
	dl dd
	{
		font-size: 14px;
	}

	code,
	footer p
	{
		font-size: 12px;
	}

	nav#primary .selector
	{
		display: inherit;
	}
	
	nav#primary ul 
	{ 
		display: none; 
	}

	#logo
	{
		width: 50px;
	}

	#logo > small
	{
		display: none;
	}

	.wrapper
	{
		width: 480px;
	}

	.one_full,
	.one_half,
	.one_third,
	.two_third,
	.one_quarter
	{
		margin-right: 0px; 
		width: 380px;
	}
}

/** 
 * Small tablet portrait 
 */
@media (min-width: 640px) {
	h1
	{
		font-size: 2.2em;
	}

	h2
	{
		font-size: 1.8em;
	}

	h3
	{
		font-size: 1.5em;
	}

	h4
	{
		font-size: 1.25em;
	}

	h5
	{
		font-size: 1em;
	}

	h6
	{
		font-size: 0.875em;
	}

	p,
	li,
	dl dd
	{
		font-size: 16px;
	}

	code,
	footer p
	{
		font-size: 14px;
	}

	nav#primary .selector
	{
		display: inherit;
	}
	
	nav#primary ul 
	{ 
		display: none; 
	}

	#logo
	{
		width: 50px;
	}

	#logo > small
	{
		display: none;
	}

	.wrapper
	{
		width: 640px;
	}

	.one_full,
	.one_half,
	.one_third,
	.two_third,
	.one_quarter
	{
		margin-right: 0px; 	
		width: 540px;
	}
}

/** 
 * iPad portrait 
 */
@media (min-width: 768px) {
	h1
	{
		font-size: 2.2em;
	}

	h2
	{
		font-size: 1.8em;
	}

	h3
	{
		font-size: 1.5em;
	}

	h4
	{
		font-size: 1.25em;
	}

	h5
	{
		font-size: 1em;
	}

	h6
	{
		font-size: 0.875em;
	}

	p,
	li,
	dl dd
	{
		font-size: 16px;
	}

	code,
	footer p
	{
		font-size: 14px;
	}

	nav#primary .selector
	{
		display: none;
	}
	
	nav#primary ul 
	{ 
		display: inherit; 
	}

	#logo
	{
		width: 50px;
	}
	
	#logo > small
	{
		display: none;
	}

	.wrapper
	{
		width: 768px;
	}

	.one_full
	{
		width: 618px;
	}

	.one_half
	{
		width: 280px;
		margin-right: 50px; 
	}

	.one_third
	{
		width: 170px;
		margin-right: 50px; 
	}

	.two_third
	{
		width: 390px;
		margin-right: 50px; 
	}

	.one_quarter
	{
		width: 110px;
		margin-right: 50px; 
	}
}

/**
 * Small browser / iPad landscape 
 */
@media (min-width: 1024px) {
	h1
	{
		font-size: 2.4em;
	}

	h2
	{
		font-size: 1.8em;
	}

	h3
	{
		font-size: 1.5em;
	}

	h4
	{
		font-size: 1.25em;
	}

	h5
	{
		font-size: 1em;
	}

	h6
	{
		font-size: 0.875em;
	}

	p,
	li,
	dl dd
	{
		font-size: 16px;
	}

	code,
	footer p
	{
		font-size: 14px;
	}

	nav#primary .selector
	{
		display: none;
	}
	
	nav#primary ul 
	{ 
		display: inherit; 
	}

	#logo
	{
		width: 200px;
	}

	#logo > small
	{
		display: inline;
	}

	.wrapper
	{
		width: 1024px;
	}

	.one_full
	{
		width: 874px;
	}

	.one_half
	{
		width: 410px;
		margin-right: 50px; 
	}

	.one_third
	{
		width: 250px;
		margin-right: 50px; 
	}

	.two_third
	{
		width: 550px;
		margin-right: 50px; 
	}

	.one_quarter
	{
		width: 180px;
		margin-right: 50px; 
	}
}

/** 
 * Generic browser 
 */
@media (min-width: 1280px) {
	h1
	{
		font-size: 2.5em;
	}

	h2
	{
		font-size: 1.8em;
	}

	h3
	{
		font-size: 1.5em;
	}

	h4
	{
		font-size: 1.25em;
	}

	h5
	{
		font-size: 1em;
	}

	h6
	{
		font-size: 0.875em;
	}

	p,
	li,
	dl dd
	{
		font-size: 16px;
	}

	code,
	footer p
	{
		font-size: 14px;
	}

	nav#primary .selector
	{
		display: none;
	}
	
	nav#primary ul 
	{ 
		display: inherit; 
	}

	#logo
	{
		width: 200px;
	}
	
	#logo > small
	{
		display: inline;
	}

	.wrapper
	{
		width: 1180px;
	}

	.one_full
	{
		width: 1030px;
	}

	.one_half
	{
		width: 480px;
		margin-right: 50px; 
	}

	.one_third
	{
		width: 300px;
		margin-right: 50px; 
	}

	.two_third
	{
		width: 650px;
		margin-right: 50px; 
	}

	.one_quarter
	{
		width: 210px;
		margin-right: 50px; 
	}
}

/** 
 * Large browser 
 */
@media (min-width: 1600px) {
	h1
	{
		font-size: 2.5em;
	}

	h2
	{
		font-size: 1.8em;
	}

	h3
	{
		font-size: 1.5em;
	}

	h4
	{
		font-size: 1.25em;
	}

	h5
	{
		font-size: 1em;
	}

	h6
	{
		font-size: 0.875em;
	}

	p,
	li,
	dl dd
	{
		font-size: 16px;
	}

	code,
	footer p
	{
		font-size: 14px;
	}

	nav#primary .chzn-container
	{
		display: none;
	}
	
	nav#primary ul,
	{ 
		display: inherit; 
	}

	#logo
	{
		width: 200px;
	}

	#logo > small
	{
		display: inline;
	}
	
	.wrapper
	{
		width: 1280px;
	}

	.one_full
	{
		width: 1280px;
	}

	.one_half
	{
		width: 617px;
		margin-right: 25px; 
	}

	.one_third
	{
		width: 340px;
		margin-right: 50px; 
	}

	.two_third
	{
		width: 730px;
		margin-right: 50px; 
	}

	.one_quarter
	{
		width: 240px;
		margin-right: 50px; 
	}
}
